*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 416px;
    height: 629px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    overflow: hidden;
}
.section{
    position: absolute;
    width: 416px;
    height: 278px;
    left: 0px;
    top: -1px;
    background: linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
}
.title{
    position: absolute;
    width: 53px;
    height: 39px;
    left: 56px;
    top: 19px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    /* identical to box height */
    color: #FFFFFF;
}
.sub-title{
    /* Hello */
    position: absolute;
    width: 54px;
    height: 29px;
    left: 56px;
    top: 65px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    color: #FFFFFF; 
}
.waving-hand{
    position: absolute;
    left: 125px;
    top: 60px;
    font-size: 25px;
}
.desc{
    position: absolute;
    width: 228px;
    height: 46px;
    left: 56px;
    top: 104px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    
    line-height: 23px;
    /* or 128% */
    color: #FFFFFF;
}
.circle{
    position: absolute;
    width: 67px;
    height: 67px;
    left: 38px;
    top: 165px;

    background: linear-gradient(180deg, #FF7600 0%, #FF5C00 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    
    z-index: 1;
}
.circle >i{
    position: absolute;
    left: 20.74%;
    right: 78.61%;
    top: 24.09%;
    bottom: 66.14%;
    
    font-size: 30px;
    color: #FFFFFF;
}
.main-content{
    position: absolute;
    width: 390px;
    height: 400px;
    left: 13px;
    top: 199px;

    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.text{
    position: absolute;
    width: 188px;
    height: 18px;
    left: 26px;
    top: 50px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #2D2D2D;
}
.question-mark{
    position: absolute;
    width: 21px;
    height: 21px;
    left: 220px;
    top: 49px;
    
    text-align: center;
    font-weight: 900;
    
    background: rgba(247, 183, 49, 0.12);
    border-radius: 100%;
}
.question-mark> span:first-child{
    z-index: 2;
    
    margin-left: 3px;
    
    color: #000000;
    opacity: 0.3; 
}
.question-mark> span:last-child{
    position: absolute;
    top: 0;
    left: 6.5px;
    
    color: #FF7600;
}
.question-list{
    position: absolute;
    left: 25px;
    top: 79px;
}
.question{
    display: flex;
    justify-content: start;
    align-items: center;
    
    width: 340px;
    height: 50px;
    
    margin-top: 9px;

    font-size: 12px;
    background: #FFFFFF;
    
    border: 1px solid #E1E1E1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.bullet-circle{
    background: rgba(255, 118, 0, 0.15);
    width: 14px;
    height: 14px;
    margin: 6px;
    border-radius: 100%;
}
.bullet-circle::after{
    content: ' ';
    position: absolute;
    background: rgba(255, 118, 0, 0.8);
    width: 8px;
    height: 8px;
    margin: 3px;
    border-radius: 100%;
}
.conversation-btn{
    cursor: pointer;
    
    position: absolute;
    width: 268px;
    height: 44px;
    left: 61px;
    top: 335px;
    
    padding: 11px;

    border: 1px solid #D1D1D1;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100px;

    text-align: center;
    vertical-align: middle;
    
    font-weight: 500;
    font-size: 14px;
}
